{% extends 'base.html.twig' %}

{% block title %}Edit Note{% endblock %}

{% block body %}
    <h1>Edit Note</h1>

    {{ include('crm_note/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('crm_note_index') }}">back to list</a>

    {{ include('crm_note/_delete_form.html.twig') }}
{% endblock %}
