{% extends 'base.html.twig' %}

{% block title %}New JobProperties{% endblock %}

{% block body %}
    <h1>Create new JobProperties</h1>

    {{ include('crm_job_properties/_form.html.twig') }}

    <a href="{{ path('crm_job_properties_index') }}">back to list</a>
{% endblock %}
