{% extends 'base.html.twig' %}

{% block title %}New TaxRate{% endblock %}

{% block body %}
    <h1>Create new TaxRate</h1>

    {{ include('crm_tax_rate/_form.html.twig') }}

    <a href="{{ path('crm_tax_rate_index') }}">back to list</a>
{% endblock %}
