{% extends 'base.html.twig' %}

{% block title %}Edit Entity{% endblock %}

{% block body %}
    <h1>Edit Entity</h1>

    {{ include('entity/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('entity_index') }}">back to list</a>

    {{ include('entity/_delete_form.html.twig') }}
{% endblock %}
